#######################################################################################################################
#
# Requirements used for Cross-chain virtual payment channels
#
# Install with
# pip install -r requirements.txt
#
#######################################################################################################################

bitcoin-utils